/* Simple responsive design */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Desktop view */

.row {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

/* Blocks */

.ammo-block{
    flex-basis: 400px;
    flex-grow: 1;
    margin: 15px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    border: 2px black solid;
}

.ammo-block-title{
    padding: 5px 25px;
    align-self: flex-end;
    /* display: block; */
    background-color: white;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
}

.ammo-block:nth-child(1) > .ammo-block-title
{
    background-color: salmon;
}

.ammo-block:nth-child(2) > .ammo-block-title
{
    background-color: red;
    color: white;
}

.ammo-block:nth-child(3) > .ammo-block-title
{
    background-color: sandybrown;
    text-decoration: black;
}

.ammo-block-text{
    padding: 10px 15px;
}